@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap');

// variables

$body-bg: #fefefe;
$menu-button: #003e00;
$header-button: #e65b00;
$shadow-color: rgb(62 57 57 / 24%);
$bg-facebook: #1977f3;
$bg-linkedin: #0077b5;
$bg-youtube: #fc0000;
$font-color: #171616;
$login-form: rgb(229 95 0 / 90%);
$background-light: #F5F5F5;